/*---Подключение шрифтов---*/
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
        url(../fonts/opensans.woff2),
        url(../fonts/opensans.woff);
}

@font-face {
  font-family: "OpenSans Light";
  src: local("OpenSans Light"),
    url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"),
    url("../fonts/gilroylight.woff2"),
    url("../fonts/gilroylight.woff");
  
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Extra Bold"),
    url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextrabold.woff");
  
  font-weight: 900;
}

/*---Базовые стили---*/
body {
  min-width: 1160px;
  margin: 0 auto;
  padding: 0;
  
  font-family: "OpenSans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 13px 0;
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  background: linear-gradient(transparent 20px, #f0c52e 20px, #f0c52e 29px, transparent 29px);
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active,
.button:checked {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.liststyle-reset {
  list-style: none;
}

.container {
  margin: 0;
  padding: 0;
  background-color: none;
}

.wrapper {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/*---Стили HEADER---*/
.main-header{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  
  background: linear-gradient(#ffffff 40px, #f7e296 40px);
}

.logo-wrapper {
  margin: 0;
  margin-left: 60px;
  margin-top: 22px;
  margin-bottom: 26px;
  padding: 0;
}

.main-header .container {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-search {
  position: relative;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  padding: 0;
  opacity: 0.3;
  
  background: transparent;
  border: none;
}

/*.header-search + .button {
  position: absolute;
  visibility: hidden;
}

.header-search:hover {
  position: absolute;
  opacity: 0.6;
}

.header-search:focus {
  position: absolute;
  color: #000000;
  
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.header-search:focus + .button {
  visibility: visible;
  
  font: inherit;
  
  background: transparent;
  border: 2px solid #000000;
}

.header-search:focus + .button:hover,
.header-search:focus + .button:focus {
  color: #ffffff;
  
  opacity: 1;
  background-color: #000000;
}

.header-search:focus + .button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #000000;
}*/

.login-link a,
.login-link--enter a,
.visitor-navigation a,
.site-navigation a {
  margin: 0;
  padding: 0;
  color: #000000;
}

.login-link a:hover,
.login-link a:focus,
.login-link--enter a:hover,
.login-link--enter a:focus,
.visitor-navigation a:hover,
.visitor-navigation a:focus,
.site-navigation li:hover,
.site-navigation li:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.login-link a:active,
.login-link--enter a:active,
.visitor-navigation a:active,
.site-navigation li:active,
.site-navigation a:active,
.logout-link a {
  color: rgba(0, 0, 0, 0.3)
}

.main-header .wrapper {
  display: flex;
  flex-direction: column;
  width: 580px;
}

.visitor-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 0;
  background-color: transparent;
}

.visitor-navigation .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0;
  padding-right: 60px;
}

.visitor-navigation li {
  padding-left: 28px;
}

.shopping-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  background-color: transparent;
}

.site-navigation li,
.catalog-products {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.site-navigation li {
  margin-right: 39px;
}

.site-navigation .navigation-item-warranty {
  margin-right: 114px;
}

.catalog-products {
  margin: 0;
  margin-left: 60px;
  padding: 0;
}

.catalog-products .wrapper {
  display: none;
  flex-direction: row;
  position: absolute;
  background-color: #f7e296;
  left: 0px;
  width: 1160px;
}

.catalog-products-button:checked ~ .catalog-products .wrapper {
  display: flex;
}

.catalog-category {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-left: 60px;
  padding-bottom: 32px;
}
.catalog-category li {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.catalog-category a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

/*---Стили основного содержимого страниц---*/
.container {
  min-width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.popular-products {
  position: relative;
  margin: 0 auto;
  margin-bottom: 95px;
  padding: 0;
  width: 1160px;
}

.popular-list {
  margin: 0px;
  padding: 0px;
  width: 1160px;
}

.item-product {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  background: linear-gradient(#f7e296 162px, #ffffff 162px);
}

.main-wrapper {
  margin: 0;
  padding: 0;
  width: 580px;
}

.main-wrapper img {
  margin: 0;
  margin-top: 50px;
  margin-left: 90px;
  padding: 0;
}

.product-info {
  position: relative;
  
  margin: 0;
  padding: 0;
  width: 580px;
}

.product-info .wrapper {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 38px;
  padding: 0;
}

.product-info h3 {
  z-index: 2;
  margin: 0;
  margin-top: 130px;
  margin-bottom: 18px;
  padding: 0;
  
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 56px;
  color: #000000;
}

.item-number {
  z-index: 0;
  position: absolute;
  top: 38px;
  right: 50px;
  
  margin: 0;
  padding: 0;
  
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 179px;
  font-weight: 900;
  line-height: 179px;
  color: #ffffff; 

}

.product-text {
  display: inline-block;
  margin: 0;
  margin-bottm: 60px;
  padding: 0;
  width: 480px;
}

.product-info .button {
  margin-left: 20px;
  margin-bottom: 45px;
  padding: 13px 43px;
}

.item-specifics {
  display: flex;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.item-specifics dl {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  margin-right: 80px;
  padding: 0;
}

.item-specifics dt {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.item-specifics dd {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.popular-products .pagination-list {
  position: absolute;
  top: 355px;
  right: 60px;
  display: flex;
  background-color: transparent;
}

.popular-products .pagination-item {
  margin-right: 20px;
}

.product-category {
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  min-width: 1160px;
}

.category-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.category-item {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  width: 160px;
  height: 240px;
  background-color: rgba(240, 197, 46, 0.5);
}

.category-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 320px;
}

.category-link .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 160px;
  height: 160px;
}

.category-item:nth-child(2) .wrapper {
  align-items: flex-end;
}

.category-item figcaption {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  height: 125px;
  
  
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: #000000;
  
  background-color: #ffffff;
}

.category-item:hover,
.category-item:focus {
  background-color: #f0c52e;
}

.category-item a:active + img {
  opacity: 0.5;
}

.services-btn:active,
.services-nav-radio:checked + .services-btn {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 20px;
  width: 258px;
  color: #f7e184;
  background: #000000;
}

.services {
  width: 100%;
  height: 390px;
  background: linear-gradient(#ffffff 100px, #e5e5e5 100px);
  margin-bottom: 90px;
}

.services .container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1160px;  
}

.services-nav {
  margin: 0;
  width: 278px;
  height: 319px;
  border-right: 7px solid #000000;
}

.services-list {
  margin: 0;
  margin-top: 80px;
  padding: 0;
}

.services-nav-item {
  margin-bottom: 20px;
}

.services-nav-item .button {
  width: 160px;
}

.services .wrapper {
  margin: 0;
  margin-top: 73px;
  margin-left: 116px;
  padding: 0;
}

.slider-services h3 {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 48px;
  color: #000000;
}

.slider-services p {
  margin: 0;
  padding: 0;
  width: 460px;
  color: #464646;
}

.brands {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 92px;
  padding: 0;
}

.brand-list li {
  filter: grayscale(1);
  opacity: 0.2;
}

.brand-list li:hover {
  filter: grayscale(0);
  opacity: 1;
}

.about-market {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 0;
  width: 1160px;
}

.about-market h3 {
  margin: 45px 0;
  padding: 0;
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 48px;
  color: #000000;
}

.about-us {
  margin: 0;
  padding: 0;
  width: 580px;
}

.about-us .wrapper {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  width: 475px;
}

.about-us p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #464646;
}

.about-us ul {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.about-us li {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
  color: #000000;
}

.about-us .button {
  margin: 0;
  padding: 13px 25px;
}

.contacts {
  margin: 0;
  padding: 0;
  width: 580px;
}

.contacts .wrapper {
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.contacts p {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  color: #464646;
}

.mini-map {
  display: inline-block;
  margin-bottom: 56px;
}

.contacts .button {
  margin: 0;
  padding: 13px 42px;
}

/*---Стили внутренней страницы---*/
.inner-container {
  font-size: 14px;
  line-height: 24px;
}

.inner-container h1 {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 47px;
  font-weight: 900;
  line-height: 48px;
}

.breadcrumbs a,
.breadcrumbs--active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters h2 {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  background-color: #dcdcdc;
}

.filter {
  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend,
.product-item h3 {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}

.filter span {
  line-height: 40px;
}

.filter input[type="checkbox"]:disabled + span,
.filter input[type="radio"]:disabled + span{
  color: #a6a6a6;
}

.filter--price input[type="number"] {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  border: none;
  opacity: 0.2;
  background-color: inherit;
}

.sortation {
  background-color: #ebebeb;
}

.sortation p {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.sortation a {
  line-height: 18px;
  color: rgba(0, 0, 0, 0.2);
}

.sortation a:hover,
.sortation a:focus {
  color: rgba(0, 0, 0, 0.4);
}

.sortation a:active,
.sortation .sorted-active {
  color: #000000;
}

.sortation .sorted-button {
  color: rgba(0, 0, 0, 0.3);
}

.sortation .sorted-button:hover,
.sortation .sorted-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item--price {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #464646;
}

.new-item {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-compare {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  
  text-align: center;
  background-color: inherit;
}

.button-compare:hover,
.button-compare:focus {
  color: #000000;
}

.button-compare {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  background-color: #ebebeb;
}

.pagination-list li,
.pagination-list a,
.pagination-button {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: #ffffff;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-list .pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*---Стили FOOTER---*/
.main-footer {
  min-width: 1160px;
  background-color: #464646;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.main-footer .wrapper {
  margin: 0;
  margin-top: 65px;
  padding: 0;
  padding-bottom: 60px;
  width: 360px;
}

.main-footer .wrapper:nth-child(2) {
  width: 440px;
}

.main-footer .footer-logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.footer--service-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 7px;
  padding: 0;
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 141px;
}

.main-footer .wrapper:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer--visitor-navigation,
.footer--user-navigation,
.footer--visitor-navigation li,
.footer--user-navigation li {
  margin: 0;
  margin-left: 42px;
  padding: 0;
}

.footer--visitor-navigation {
  display: flex;
  margin-bottom: 35px;
}

.footer--user-navigation a,
.footer--visitor-navigation a,
.footer-link--enter a {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.footer--user-navigation a:hover,
.footer--user-navigation a:focus,
.footer--visitor-navigation a:hover,
.footer--visitor-navigation a:focus,
.location {
  color: #ffffff;
}

.footer--user-navigation a:active,
.footer--visitor-navigation a:active,
.footer--service-navigation a:active,
.footer-link-exit {
  color: rgba(255,255,255,0.3);
}

.footer--service-navigation a {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer--service-navigation a:hover,
.footer--service-navigation a:focus {
  color: rgba(255,255,255,0.6);
}

.phone-number {
  padding-bottom: 62px;
  font-family: "OpenSans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus,
.creator-btn:hover,
.creator-btn:focus {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.creator-btn:active {
  opacity: 0.3;
}

/*---Стили POP UP'ов---*/
.feedback-form p {
  font-family: "Gilroy", "Gill Sans", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: #000000;  
}

.feedback-name,
.feedback-email,
.feedback-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
}

.feedback-name:hover,
.feedback-email:hover,
.feedback-text:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-name:focus,
.feedback-email:focus,
.feedback-text:focus {
  color: #464646;
  
  border: 3px solid rgba(240, 196, 46, 0.5);
  background-color: #ffffff;
}

.feedback-name:invalid,
.feedback-email:invalid,
.feedback-text:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}